services:
  web:
    build: .
    container_name: django_gunicorn_app
    command: gunicorn Sovi_Backend.wsgi:application --bind 0.0.0.0:8000 
    volumes:
      - .:/app
    ports:
      - "8000:8000"


  mongodb:
    image: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: